*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main{
    background: url(/images/laptop-with-joystick.jpg) no-repeat center center /100%;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main a div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 70px;
    border-radius: 20px;
    background-color: #555555;
}
.main a div p{
    text-align: center;
    color: white;
    font-size: 30px;
}
.link-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
.site-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
span{
    color: #fff;
}
.site-description{
    font-size: 24px;
}
.title{
    font-size: 48px;
} 