<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home/commLink.css" />
    <link rel="stylesheet" href="/css/home/header.css" />
  </head>
  <body>
    <header>
        <div class="header-layout">
            <a href="/">
                <div class="logo">
                    GOODGAME
                </div>
            </a>
            <div class="header-link">
                <a href="/genre">
                    <div class="genre-link">장르 추천</div>
                </a>
                <a href="/communities">
                    <div class="community-link">커뮤니티</div>
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="link-layout">
            <div class="link-contents"><a href="/community?id=fighter">장인 전투광</a></div>
            <div class="link-contents"><a href="/community?id=warrior">돈 많은 전사</a></div>
            <div class="link-contents"><a href="/community?id=brain">게임 속 제갈량</a></div>
            <div class="link-contents"><a href="/community?id=explore">자유의 탐험가</a></div>
            <div class="link-contents"><a href="/community?id=gamer">라이트한 게이머</a></div>
        </div>
    </div>
  </body>
</html>