<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/genre.css">
    <script type="module" src="/js/home/genre.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="contents">
            <div class="question-list">
                <div class="question-contents">
                    <span class="quest">1. 게임에서 전투 이벤트는 중요한가요?</span>
                    <div class="choice">
                        <label class="yes">
                            <input type="radio" name="first" value= "true" >
                        </label>
                        <label class="no">
                            <input type="radio" name="first" value="false">
                        </label>
                    </div>
                </div>
            </div>
            <div class="question-list">
                <div class="question-contents">
                    <span class="quest">2. 게임에서 돈보다 실력이 중요한가요?</span>
                    <div class="choice">
                        <label class="yes">
                            <input type="radio" name="second" value="true">
                        </label>
                        <label class="no">
                            <input type="radio" name="second" value="false">
                        </label>
                    </div>
                </div>
            </div>
            <div class="question-list">
                <div class="question-contents">
                    <span class="quest">3. 게임에서 피지컬보다 뇌지컬이 더 중요한가요?</span>
                    <div class="choice">
                        <label class="yes">
                            <input type="radio" name="third" value="true">
                        </label>
                        <label class="no">
                            <input type="radio" name="third" value="false">
                        </label>
                    </div>
                </div>
            </div>
            <div class="question-list">
                <div class="question-contents">
                    <span class="quest">4. 게임을 언제 어디서든 플레이 하는 것이 중요한가요?</span>
                    <div class="choice">
                        <label class="yes">
                            <input type="radio" name="fourth" value="true">
                        </label>
                        <label class="no">
                            <input type="radio" name="fourth" value="false">
                        </label>
                    </div>
                </div>
            </div>
            <div class="question-list">
                <div class="question-contents">
                    <span class="quest">5. 캐릭터가 성장하는 것을 보는 것이 게임을 하는데 중요한가요?</span>
                    <div class="choice">
                        <label class="yes">
                            <input type="radio" name="fifth" value="true">
                        </label>
                        <label class="no">
                            <input type="radio" name="fifth" value="false">
                        </label>
                    </div>
                </div>
            </div>
            <div class="question-list">
                <div class="question-contents">
                    <span class="quest">6. 이곳저곳 탐험하는 것이 게임을 하는데 중요한가요?</span>
                    <div class="choice">
                        <label class="yes">
                            <input type="radio" name="sixth" value="true">
                        </label>
                        <label class="no">
                            <input type="radio" name="sixth" value="false">
                        </label>
                    </div>
                </div>
            </div>
            <button class="submitBtn">제출하기</button>
        </div>
    </div>
</body>
</html>