<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Game</title>
    <link rel="stylesheet" href="/css/home/home.css">
</head>
<body>
    <div class="main">
        <div class="link-btn">
            <a href="/genre">
                <div class="genre-link"><p>장르 추천</p></div>
            </a>
            <a href="/communities">
                <div class="community-link"><p>커뮤니티</p></div>
            </a>
        </div>
        <div></div>
        <div class="site-text">
            <span class="site-description">유저분들의 더 편리하고 재밌는 게임 생활을 위한</span>
            <span class="title">Good Game</span>
        </div>
    </div>
    
</body>
</html>