<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-layout">
            <a href="/">
                <div class="logo">
                    GOODGAME
                </div>
            </a>
            <div class="header-link">
                <a href="/genre">
                    <div class="genre-link">장르 추천</div>
                </a>
                <a href="/communities">
                    <div class="community-link">커뮤니티</div>
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <button class="submit">
            게시하기
        </button>
    </div>
</body>
</html>